/* **************GLOBAL STYLES***************** */ 
html {
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}


body {
    color: #0c0c0c;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.3;
}
a {
    color: black;
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 70px;
    line-height: 1;
}
h2 {
    margin: 0;
    font-size: 40px;
}
h1, h2 {
    font-family: 'Gloria Hallelujah', cursive;
}
.content-wrap {
    max-width: 900px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}
h3 {
    margin-bottom: 0;
}
h3 + p {
    font-style: italic;
}
h3 ~ p {
    margin: 0;
}
.divider > section {
    border-bottom: 1px dashed #6f81a0;
    padding: 25px 0;
}
.divider > section:last-of-type {
    border-bottom: none
}


/* **************ABOUT / PROFILE***************** */
header {
    background-image: url(../images/about_section.jpg);
    text-align: center;
    background-size: cover;
    background-position: top right;
    padding-bottom: 80px;
}
 
.photo {
    float: right;
    align-items: right;
    border-radius: 100px;
    margin-right: 10px;
}

/* **************WORK EXPERIENCE***************** */
.work {
    background-image: url(../images/work_section.jpg);
    background-size: cover;
    background-position: top right;
    padding-bottom: 80px;
}
.job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 40px;
}


/* **************EDUCATION***************** */
.education {
    background-image: url(../images/education_section.jpg);
    background-size: cover;
    background-position: top right;
    padding-bottom: 80px; 
}


/* **************COURSES & CERTIFICATIONS***************** */
.courses {
    background-image: url(../images/courses_section.jpg);
    background-size: cover;
    background-position: top right;
    padding-bottom: 80px;
}

/* **************SKILLS***************** */
.skills {
    background-image: url(../images/skills_section.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 80px;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
  }

.button1 {background-color: #c2798f;} 
.button2 {background-color: #c2798f;}
.button3 {background-color: #c2798f;}
.button4 {background-color: #c2798f;}
.button5 {background-color: #c2798f;}
.button6 {background-color: #c2798f;}
.button7 {background-color: #c2798f;}
.button8 {background-color: #c2798f;}
.button9 {background-color: #c2798f;}
.button10 {background-color: #c2798f;}
.button11 {background-color: #c2798f;}
.button12 {background-color: #c2798f;}
.button13 {background-color: #c2798f;}
.button14 {background-color: #c2798f;}
.button15 {background-color: #c2798f;}
.button16 {background-color: #c2798f;}

/* **************CONTACT INFO***************** */
footer {
    text-align: center;
}

.contact {
    background-image: url(../images/contact_section.jpg);
    background-size: cover;
    background-position: top right;
    padding-bottom: 10px;
}

.contact .btn {
    background: #9B4A5D; 
    text-decoration: none;
    padding: 9px;
    border-radius: 5px;
    display: inline-block;
}
.contact .btn:hover {
    background: rgba(155, 74, 93, 80%);    
}
.contact-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.contact-links a {
    display: inline-block;
    padding: 10px ;
}